<style>
.legend li {
  margin: 25px 50px 0 0;
}

.legend table {
  width: 1000px;
  margin: 0;
  font-size: 80%;
}

.legend td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

</style>
<div class='legend'>
<table>
  <tr>
    <td>
      <h3>Test Replacement</h3>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque malesuada, erat a aliquam imperdiet, quam arcu eleifend ligula, vel euismod justo nisi ac turpis:</span>
      <ul>
        <li><strong>ADOPT</strong> &mdash; 11111111111111.</li>
        <li><strong>TRIAL</strong> &mdash; 222222222222м.</li>
        <li><strong>ASSESS</strong> &mdash; 3333333333333.</li>
        <li><strong>HOLD</strong> &mdash; депрекейтед легаси. Отжившие свой век технологии, которые не рекомендуется использовать для новых проектов, но допустимо сохранять в старых.</li>
      </ul>
    </td>
    <td>
        <h3>Цели</h3>
        <ul>
            <li>Держать под контролем свои компетенции. Подготовка радара — это анализ происходящего — способ посмотреть в какую сторону движется индустрия, и как общие тренды соотносятся с нашим зоопарком. </li>
            <li>Принимать правильные архитектурные решения. У команд появляется источник информации о том, какие решения рекомендуется использовать для тех или иных целей.</li>
        </ul>
        <br/>
        <br/>
        <h3>Наполнение</h3>
        <span>Технический радар поддерживается разработчиками в формате холивара. В нем отражены наши стремления, успехи и ошибки.</span>
    </td>
  </tr>
</table>
<legend>